<!-- Modal -->
<div class="modal fade" id="addFolder<%= folder.id %>ToSharedList" tabindex="-1" role="dialog" aria-labelledby="addFolder<%= folder.id %>ToSharedListTitle" aria-hidden="true" data-target='show-modal.modalId' data-reload-on-hide = "true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFolder<%= folder.id %>ToSharedListTitle">Ajouter <%= folder.title %> à</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-2">Liste de partage</p>
        <% if policy(folder_shared_list).create? %>
          <%= render 'folder_shared_lists/form', folder: folder, folder_shared_list: folder_shared_list %>
        <% end %>
        <% if policy(shared_list).create_and_attach_folder? %>
          <%= render 'shared_lists/create_and_attach_folder_form', folder: folder, shared_list: shared_list %>
        <% end %>
        <!-- TO KEEP: initial version to add folders or documents to shared list directly -->
        <%#= render 'add_to_shared_list_form', folder: folder %>
      </div>
    </div>
  </div>
</div>
