<div class="container container-content d-flex flex-column">

  <div class="d-flex-default p-5">
    <%= image_tag "Logo_GileadMédia_Noir.png" %>
  </div>

  <div class="cards-devise">
      <div class="card-devise w-100 d-flex-default">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "w-100" }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Envoyer", class: "mt-4" %>
          </div>
        <% end %>
      </div>

      <div class="card-devise card-devise-illustration">
        <%= image_tag "photo_gilead.jpg" %>
      </div>

    </div>


  <%#= render "devise/shared/links" %>
</div>
