<div class="container py-5 d-flex flex-column">
  <!-- <h4 class="text-center pb-5">Réinitialisation de votre mot de passe</h4> -->

  <div class="d-flex-default p-5">
    <%= image_tag "logo_gilead_media.png" %>
  </div>

  <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2rem; height: 50vh; width: 100%">
      <div class="w-100 d-flex align-items-center border p-3 p-lg-5">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Envoyer", disabled: true %>
          </div>
        <% end %>
      </div>

      <div class="border p-3 p-lg-5">
        <%= image_tag "photo_gilead.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
      </div>

    </div>


  <%#= render "devise/shared/links" %>
</div>
