<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:validation_message] %>
  <div data-controller = "show-modal">
    <%= render 'shared/validation_modal', message: flash[:message] %>
  </div>
<% end %>

<% if flash[:errors_attach_document] %>
  <div data-controller = "show-modal">
    <%= render 'documents/add_to_shared_list_or_folder_modal', document: @document, shared_list: @shared_list, document_shared_list: @document_shared_list %>
  </div>
<% end %>

<% if flash[:errors_attach_folder] %>
  <div data-controller = "show-modal">
    <%= render 'folders/add_to_shared_list_modal', folder: @folder, shared_list: @shared_list, folder_shared_list: @folder_shared_list %>
  </div>
<% end %>

<% if flash[:errors_create_shared_document] %>
  <div data-controller = "show-modal">
    <%= render 'documents/add_to_shared_document_modal', document: @document, shared_document: @shared_document %>
  </div>
<% end %>
