<% if user_signed_in? %>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%#= link_to root_path, class: "navbar-brand" do %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.gilead.com/-/media/gilead-corporate/images/global/logo-gilead-create-possible.png", style: "height: 40px; width: auto" %>
      <% end %>

    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Documents", documents_path, class: "nav-link" %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to "Utilisateurs", admin_users_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Mon compte", edit_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>

  <% end %>
