<!-- Modal -->
<div class="modal fade" id="addDocumentToSharedDocument<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="addDocumentToSharedDocument<%= document.id %>Title" aria-hidden="true" data-target='show-modal.modalId'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="addDocumentToSharedDocument<%= document.id %>Title">
          <h4 class="color-burgundy mb-0">Envoyer</h4>
          <h5 class="mb-0"><%= document.title %></h5>
          <h4 class="color-burgundy mb-0">à...</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if policy(shared_document).create? %>
          <%= render 'shared_documents/form', document: document, shared_document: shared_document %>
        <% end %>
      </div>
    </div>
  </div>
</div>
