<div class="pb-5">
  <%= simple_form_for :search, url: documents_path, method: "get", remote: true do |f| %>
    <div data-controller="search" >
      <div class="d-flex">
        <%= f.input :title, label: false, placeholder: "Votre recherche: titre du document, mots clés..." %>
        <i data-target="search.dropdownIcon" data-action="click->search#toggle" class="fas fa-lg fa-sort-down btn"></i>
      </div>
      <div class="d-flex justify-content-between invisible" data-target="search.moreOptions">
        <%= f.input :fmt, as: :select, collection: Document::FORMATS.map { |k,v| [v,k] }, prompt: "Type de document", label: false %>
        <%= f.input :created_at, label: false, placeholder: "Date", input_html: { data: { target: "search.datesSelection" } } %>
        <%= f.input :language, as: :select, collection: Document::LANGUAGES.map { |k,v| [v,k] }, prompt: "Langue", label: false %>
        <%= f.submit "Rechercher", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
