<div class="container container-content">
  <%= render 'search_form' unless params[:theme].present? %>
  <%= turbo_frame_tag "documents_list" do %>
    <%= render 'list', documents: @documents %>
  <% end %>
</div>

<% unless @documents.blank? %>
  <%= turbo_frame_tag "add_document_to_shared_document" do %>
    <%= render 'documents/add_to_shared_document_modal', document: @documents.first, shared_document: @shared_document %>
  <% end %>
  <%= render 'documents/add_to_shared_list_or_folder_modal', document: @documents.first, shared_list: @shared_list, document_shared_list: @document_shared_list %>
<% end %>

<%= render 'shared/validation_modal', message: "" %>
