<p><%= simple_format(@custom_mail.body) %></p>

<table border="0" cellpadding="0" cellspacing="10" style="margin: 0 0">
  <tbody>
    <tr>
      <td>
        <% if @contact.contactable_type == "SharedList" %>
          <%= link_to 'Voir les documents', public_shared_list_url(@contact.contactable.code), target: :_blank, class: "btn" %>
        <% elsif @contact.contactable_type == "SharedDocument" %>
          <%= link_to 'Voir le document', public_shared_document_url(@contact.contactable.code), target: :_blank, class: "btn" %>
        <% elsif @contact.contactable_type == "SharedFolder" %>
          <%= link_to 'Voir le dossier', public_shared_folder_url(@contact.contactable.code), target: :_blank, class: "btn" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<p><%= simple_format(@custom_mail.signature) %></p>
