<div class="container">
  <p class="mb-0">Titre:</p>
  <p><%= @document.title %></p>
  <p class="mb-0">Langue:</p>
  <p><%= @document.language %></p>
  <p class="mb-0">Droits d'utilisation:</p>
  <p><%= simple_format(@document.usage) %></p>

  <div>
    <% if policy([:admin, @document]).validate? %>
      <%= link_to 'Mettre en ligne', admin_document_validate_path(@document), method: :patch, class: "btn" %>
    <% end %>
    <%= link_to 'Modifier', edit_admin_document_path(@document), class: "btn" %>
  </div>
</div>
