<div class="container container-content">
  <div class="table table-users">
    <div class="table-users-title table-users-new-line">Prénom</div>
    <div class="table-users-title">Nom</div>
    <div class="table-users-title">E-mail</div>
    <div class="table-users-title">Mot de passe</div>

    <% @users.each do |user| %>
      <div class="table-users-new-line d-flex align-items-center"><%= user.first_name %></div>
      <div class="d-flex align-items-center"><%= user.last_name %></div>
      <div class="d-flex align-items-center"><%= user.email %></div>
      <!-- <div><%#= user.encrypted_password %></div> -->
      <div></div>
      <%= link_to admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "<p class='text-center mt-n-3'>Vous êtes sur le point de supprimer un utilisateur ainsi que l'ensemble des liens qu'il aurait pu envoyer.<br>Souhaitez-vous confirmer?</p>".html_safe }, class: "btn #{ 'disabled' if user == current_user }" do %>
        <i class="fas fa-minus"></i>
      <% end %>
    <% end %>

    <%= render 'form', user: @user %>
  </div>
</div>
