<div class="container container-content">
  <div class="table table-users">
    <div class="table-users-title table-users-new-line">Prénom</div>
    <div class="table-users-title">Nom</div>
    <div class="table-users-title">E-mail</div>
    <div class="table-users-title">Mot de passe</div>

    <% @users.each do |user| %>
      <div class="table-users-new-line"><%= user.first_name %></div>
      <div><%= user.last_name %></div>
      <div><%= user.email %></div>
      <!-- <div><%#= user.encrypted_password %></div> -->
      <div></div>
      <div class="w-100 h-100">
        <% unless user == current_user %>
          <%= link_to admin_user_path(user), method: :delete, data: {confirm: "<p class='text-center mt-n-3'>Vous êtes sur le point de supprimer un utilisateur ainsi que l'ensemble des liens qu'il aurait pu envoyer.<br>Souhaitez-vous confirmer?</p>".html_safe } do %>
            <i class="btn fa fa-minus w-100 h-100"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= render 'form', user: @user %>
  </div>
</div>
